
header {
    
}


main {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;      
}


footer {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    text-align: center;
    color: royalblue;
    font-style: italic;
}


a {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: red;
    text-decoration: none;
}
         

li {
    list-style: none; 
    color: red; 
}

.navbarAhover > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
}

.listaProdutos {
   display: inline-table;
   
}

.nav-link li a {
    color:red
    }

.precoDesconto {
    text-decoration: line-through;
    font-size: 15px;
}   


.precoFinal {
    color: red;
}


#contatos {
    
}

#menuLateral {
          
}

li#menuLateral:hover {
    color: red;    
    
}

#margemLateralProdutos {
    margin-left: 10%;
}

ul#menuSuperior {
    
}

li#menuSuperior {
    
  
     
}

#vitrineIndex {
     
    
}


#conteudoNavbarSuportado {
    
}





